{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block header %}



{% endblock %}
{% block content %}
<div class="container">
    
    <div id="product-list">
        {% if products %}
            {% for product in products %}
                <div class="product-item">
                    <div class="product-image">
                        <img class="productImage" src="{{ product.product_image.url }}" alt="Image">
                    </div>
                    <div class="product-content">
                        
                        <h2>{{ product.isAvailable|yesno:",[HABIS]" }}{{ product.name }}</h2>
                        <p>Category: {{ product.category.category }}</p>
                        <p></p>
                        <b><p>Rp. {{ product.price|intcomma }}</p></b>
                    </div>
                    <div class="product-interact">
                        {% if user_authenticated %}
                        <button class="add-to-cart"  data-id="{{ product.id }}" data-quantity="1" onclick="add_to_cartButtonOnClick(event)">Tambahkan ke Keranjang</button>
                        {% else %}
                        <button class="add-to-cart" id="na-add-to-cart" onclick="alert('You must be logged in to add items to the cart')">Tambahkan ke Keranjang</button>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <p>No products available</p>
        {% endif %}
    </div>
</div>
    <div class="shopping-cart">
        <div class="shopping-cart-title">
            <h2>Shopping cart</h2>
        </div>

        <ul id="shopping-cart-list">

        </ul>
        <h3 id="total">Total: </h3>
        <a href="orders/customer/checkout/" id="to-checkout">To Checkout</a>
    </div>
{% endblock %}
{% block custom_js %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
