{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block header %}



{% endblock %}
{% block content %}


<div class="container">

    <div class="home-splash-container">
        <h1 id="home-splash-message">
            Selamat datang di El'z Kitchen!
        </h1>
        <p id="home-splash-text">
            Ayo pilih produk kami dibawah ini!
        </p>

    </div>
    <div class="pm_controls">
        <div class="pm_controls_child">
            <button class='generic-ok-button' onclick="fetchProducts(1)">Terapkan kriteria</button>
        </div>
        <div>
            <label for="product_category_select">Kategori</label>
            <select id="product_category_select">
                <option value="semua">Semua</option> <!-- Categories will be added here -->
            </select>
        </div>
        <div class="pm_controls_child">
            <label for="sort_by">Sort By:</label>
            <select id="sort_by">
                <option value="price">Price</option>
            </select>
        </div>
        
        <div class="pm_controls_child">
            <label for="ascending">
                <input type="checkbox" id="ascending" checked> Ascending
            </label>
        </div>
        
    </div>
    <div id="product-list">
        
    </div>

    <div id="pagination-controls"></div>
</div>
    <div class="shopping-cart">
        <div class="shopping-cart-title">
            <h2>Shopping cart</h2>
        </div>

        <ul id="shopping-cart-list">

        </ul>
        <h3 id="total">Total: </h3>
        <a href="orders/customer/checkout/" id="to-checkout">To Checkout</a>
    </div>
{% endblock %}
{% block custom_js %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
