{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block header %}



{% endblock %}
{% block content %}
    <div class="container">
        <h1>Selamat datang di Elz Kitchen!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate lacinia maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc lacinia nibh at ipsum facilisis, id tristique elit placerat. Cras placerat est leo, vitae condimentum velit eleifend ac. Aliquam id molestie arcu. Pellentesque mattis porttitor nisi vitae rutrum. Aenean aliquet neque ipsum, ut tempor enim fermentum non. Nam non magna posuere, varius nisi sit amet, porttitor nunc.</p>
    </div>   
{% endblock %}
{% block custom_js %}
    
{% endblock %}
