*{
    margin: 0;
    padding: 0;

}
body {
    font-family: Arial, Helvetica, sans-serif;

}
.add-to-cart{
    display: inline-block; 
    padding: 12px 24px; 
    font-size: 16px;
    border: none; 
    border-radius: 5px; 
    background-color: #3eb452; 
    color: #fff; 
    cursor: pointer;
    box-sizing: border-box; 
}
p {
    font-size: large;
}
.banner {
    background-color: rgb(239 225 214);
    display: flex;
    align-items: center;
}

.banner-image {
    width: 100px;
    height: auto;
    margin-right: 10px;
    padding: 5px;
}

.banner-title {
    font-size: 2rem; 
    margin: 0; 
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(66, 57, 49);
}
.header {
    
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #251f13;
}
.header-logo {
    padding: 5px;
    height: 1.5em; 
    margin-right: 15px; 
    
}
.nav-links {
    background-color: #ebebeb;
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    padding: 10px;
    box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.5);
}

.nav-links a {
    font-family:Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.auth-links {
    margin-left: auto; 
}

.nav-links a:hover {
    color:rgb(172, 172, 59);
}
.product-item {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    display:flex;
}
.productImage {
    width:150px;
    height:auto;
    border-radius: 15px;
}
.product-content {
    margin-left: 10px;
    margin-right: 10px;
}
.product-interact {
    margin-left: auto;
    margin-top: auto;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top:20px;
    padding: 20px;
    border: 1px solid #ccc;
}
.shopping-cart {
    border: 1px solid #ccc;
    position: fixed;
    right:1%;
    top:20%;
    width:20%;
    height:60%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shopping-cart-title {
    background-color: #3eb452;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#shopping-cart-list {
    flex-grow: 1;              
    overflow-y: auto;          
}
.shopping-cart ul {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}

.cart-item {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.cart-item label {
    flex-grow: 1;              
    margin-right: 10px;    
    margin-bottom: 10px;   
    overflow: hidden;          
    font-weight: bold;
}

#total {
    margin-bottom: 5px;

}
#to-checkout {
    font-family:Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#to-checkout:hover {
    background-color: #ccc;
}
.checkout-display {
    display:flex;
    flex-direction: column;
}
.checkout-items {
    flex-grow: 1;              
    margin-right: 10px;       
    overflow: hidden;
}
.checkout-items li {
    padding: 5px;
    border: 1px solid #ccc;
}
#checkout_date_field{
    margin-top: 15px;
    margin-bottom: 15px;
}
.checkout-display button {
    display: inline-block; 
    padding: 12px 24px; 
    font-size: 16px; 
    border: none;
    border-radius: 5px; 
    background-color: #3eb452; 
    color: #fff; 
    cursor: pointer; 
    box-sizing: border-box; 
}

.pm_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
}


.pm_controls {
    margin-bottom: 20px;
    margin-top:20px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.pm_controls_child {
    margin:15px;
}
.product_manager_display {
    display: block; /* Ensures it's on its own line */
    width: 100%; /* Matches parent width */
    clear: both; /* Ensures no floating elements interfere */

}
.product_manager_display table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.product_manager_display th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.product_manager_display th {
    background-color: #f4f4f4;
}
.highlighted-row {
    background-color: #f0f0f0; 
}
.product_selector {
    
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    
    position: absolute;
    z-index: 1;
  }
  

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.pagination {
    margin-top: 20px;
    text-align: center;
}
.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
}
.generic-form {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensure fields align with the container width */
    max-width: 800px; /* Set a max width for better readability */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    border: 1px solid #ddd; /* Add a subtle border */
    border-radius: 8px; /* Rounded corners for the form */
    background-color: #f9f9f9;
    
}

.generic-form label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.generic-form input, 
.generic-form select, 
.generic-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners for fields */
    font-size: 14px;
    box-sizing: border-box;
}

.generic-form input:focus, 
.generic-form select:focus, 
.generic-form textarea:focus {
    border-color: #007BFF; /* Highlight the field on focus */
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); /* Add focus effect */
}





.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-wrapper {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
}
.generic-ok-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    border: none; 
    border-radius: 10px;
    background-color: #3eacb4;
    color: #fff; 
    cursor: pointer; 
    box-sizing: border-box;
}
.generic-ok-button:hover {
    background-color: #47c6cf; /* Darken button on hover */
}
.generic-reject-button{
    display: inline-block; 
    padding: 4px 8px;
    font-size: 10px;
    border: none; 
    border-radius: 10px; 
    background-color: #af2121; 
    color: #fff; 
    cursor: pointer; 
    box-sizing: border-box;
    margin-left: auto;
}
.generic-reject-button:hover{
    background-color: #ff0000
}
.generic-edit-button {
    display: inline-block; 
    padding: 4px 8px;
    font-size: 20px;
    border: none; 
    border-radius: 5px; 
    background-color: #14ac00; 
    color: #fff; 
    cursor: pointer; 
    box-sizing: border-box;
    margin-left: auto;

}
.generic-edit-button:hover{
    background-color: #00e20b
}
/* Initially hidden */
.hidden {
    display: none;
}

/* Style for the menu container */
.actionMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
.order-card {
    border : 1px solid #ddd;
    margin : 10px 0;
    padding : 10px;
    display : flex;
    align-items: "center";
    justify-content: space-between;
}
.order-card p {
    
}
.order-card-actions {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.utility-button {
    padding: 2px;
}